<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.TestGenMapper">

    <select id="getTestGenById" resultType="com.zy.entity.TestGen">
        select
                id as id,
                code_id as codeId,
                name as name
        from test_gen
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getTestGenListByMap" resultType="com.zy.entity.TestGen" parameterType="java.util.Map">
        select
                id as id,
                code_id as codeId,
                name as name
        from test_gen
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="codeId != null and codeId!=''">
                    and code_id=#{codeId}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getTestGenCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from test_gen
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="codeId != null and codeId!=''">
                    and code_id=#{codeId}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
        </trim>
    </select>

    <insert id="insertTestGen" parameterType="com.zy.entity.TestGen">
        insert into test_gen(
        id,
                        code_id,
                        name)
        values(
        #{id},
                     #{codeId},
                    #{name})
    </insert>
    <insert id="addList" parameterType="java.util.List">
        insert into test_gen(
        id,
        code_id,
        name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.codeId},#{item.name})
        </foreach>
    </insert>

    <update id="updateTestGen" parameterType="com.zy.entity.TestGen">
        update test_gen
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="codeId != null and codeId!=''">
                            code_id=#{codeId},
                        </if>
                        <if test="name != null and name!=''">
                            name=#{name}
                        </if>
        </trim>
    </update>
</mapper>